<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput
      type="text"
      name="title"
      ngModel
      required
      placeholder="Title"
      #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput
      name="content"
      ngModel
      rows="6"
      required
      placeholder="Content"
      #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter the content.</mat-error>
    </mat-form-field>
    <button
    color="primary"
    mat-raised-button
    type="submit"
    style="margin-top: 20px;">Save Post</button>
  </form>
</mat-card>

